body {
      height: 100vh;
      width: 100vw;
      text-align: center;
      background-size: cover;
      background-position: center;
      color: white;
      font-family: helvetica;
      overflow-x: hidden;
    }

#navigation{
        width: 15vw;
        background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, .0));
        height: 100vh;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        left: -10vw;
        transition: all .7s;
        z-index: 2002;
    }
#navigation ul{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        opacity: 0;
        transition: all .7s;
        font-size: 2.3rem;
    }
#desktopNav li{
        margin: 15vh auto auto auto;
        color: #1e7a45;
    }
#shuffle{
    z-index: 2005;
    height: 5vh;
    cursor: pointer;
}
#arrowHover{
        font-size: 5em;
        transition: all .7s;
    }
#navigation li:hover{
        color: #201E1F;
        background-color: white;
    }
    

#intro{
    height: 100vh;
    z-index: 2000;
    background: url('./assets/arfan-abdulazeez-GVYRkT5f1tA-unsplash.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    background-attachment: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
#blurCover{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2001;
    position: absolute;
    top: 0;
}
#intro h1{
    font-family: 'Titillium Web', sans-serif;
    font-weight: 900;
    font-size: 5rem;
    color: white;
    background-color: #1e7a45;
}

#intro button{
    z-index: 2005;
}
p {
      font-size: 22px;
    }
input {
      border: 0;
      padding: 10px;
      font-size: 18px;
    }
    input[type="submit"] {
      background: red;
      color: white;
    }
    
#headshot{
     border-radius: 50%;
     width: 15vw;
     border: 3px solid black;
    animation: pulse-animation 7s infinite;
    }
@keyframes pulse-animation {
    0%{box-shadow: 0 0 0 5px #8A7CEF}
    12.5%{box-shadow: 0 0 0 5px #1F3EDE}
    37.5%{box-shadow: 0 0 0 5px #7646C5}
    62.5%{box-shadow: 0 0 0 5px #BF1FDE}    
    87.5%{box-shadow: 0 0 0 5px #F5B9FF}
    100%{box-shadow: 0 0 0 5px #8A7CEF;}
    }


nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: default;
    padding: 0%;
}
ul li{
    margin: auto 3vw;
    height: 100%;
}


#mainSect{
    display: flex;
    flex-wrap: wrap;
    color: black;
    align-content: center;
    align-items: flex-start;
    width: 70vw;
    margin: auto;
    position: relative;
}
#treeLine{
    position: absolute;
    margin: auto;
    height: 9vh;
    bottom: -12vh;
    width: 50vw;
    left: 12.5vw;
}
#buttons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#buttons img{
    width: 5vw;
}
#waterfall{
    margin-right: 8vw;
    width: 20vw;
}
p{
    font-size: large;
}

#modalContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    display: none;
}
#modalContainer h3{
    margin-top: 20vh;
}
form{
    display: flex;
    flex-direction: column;
    width: 80vw;
    border-radius: 10px;
    background: linear-gradient(-45deg, #dfbbb1, #f56476, #e43f6f, #be3e82, #5e4352);
    background-size: 500% 500%;
    margin: 5vh auto;
    animation: gradient 5s ease infinite;
    position: relative;
}
@keyframes gradient {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
    
}
.formContents{
    margin: 3vh auto;
}
textarea{
    width: 90%;
}
#modalContainer{
    top: 0;
    left: 0;
}
#closeThis{
    position: absolute;
    top: 0;
    right: 0;
}
#projects{
    width: 100vw;
    left:  -1vw;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    flex-direction: column;
    align-items: center;
    background-color: black;
}
.navButton{
    background-color: #be3e82;
}

.techHolder{
    background-color: rgba(11, 12, 12, 0.7);
}
.projName{
    position: relative;
    z-index: 1;
    font-size: 2em;
}
.closeButton{
    z-index: 9999;
}
.projSect{
    position: relative;
    z-index: 1;
    background: transparent;
    height: 30vw;
    width: 30vh;
    margin: 2vw;
    background-position: center;
    background-size: cover;
    transform-style: preserve-3d;

}

.projSect:nth-of-type(odd) .projName::after{
    content: "";
    position: absolute;
    top: -0.25rem;
    left: 0;
    bottom: -0.25rem;
    width: 0%;
    transition: width 450ms;
    background: rgb(57, 87, 10);
    z-index: -1;
    max-width: 100%;
}

.projSect:nth-of-type(even) .projName::after{
    content: "";
    position: absolute;
    top: -0.25rem;
    left: 100%;
    bottom: -0.25rem;
    width: 0%;
    transition: width 450ms, left 450ms;
    background: rgb(110, 103, 39);
    z-index: -1;
    max-width: 100%;
}
#mainText{
    width: 40%;
    margin: 4vh auto;
}
.projSect:nth-of-type(odd):hover .projName::after{
    width: 25vw;
}
.projSect:nth-of-type(even):hover .projName::after{
    width: 25vw;
    left: 0%;
}
.projSect:nth-of-type(odd):after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0%;
    max-width: 100vw;
    transition: width 450ms 450ms;
    background: rgb(110, 103, 39);
    z-index: 0;
    max-width: 100vw;
    transform: translateZ(-1px);
}
.projSect:nth-of-type(even):after{
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    bottom: 0;
    width: 0%;
    max-width: 100vw;
    transition: width 450ms 450ms, left 450ms 450ms;
    background: rgb(57, 87, 10);
    z-index: 0;
    max-width: 100vw;
    transform: translateZ(-1px);
}
.projSect:nth-of-type(odd):hover::after{
    width: 100vw;
}
.projSect:nth-of-type(even):hover::after{
    width: 100vw;
    left: -100vw;
}
.modals{
    position: relative;
    height: 60vh;
    width: 60vw;
    display: none;
    margin: 20vh 20vw;
    background-color: rgb(53, 95, 23);
    display: flex;
    flex-direction: column;
    z-index: -1;
    pointer-events: auto;
}
.modals button:nth-of-type(2){
    display: none;
}
.modals img{
    width: 30%;
    height: 40%;
    margin: 0 auto;
}
.modalCont{
    position: fixed;
    background-color: rgba(11, 12, 12, 0.7);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    display: none;
}
.closeButton{
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(104, 87, 16);
    width: 8%;
}
#waterfallpic{
    width: 33vw;
    margin-top: 5vh;
}
.closeButton:hover{
    background-color: aliceblue;
}
@media (min-width: 760px){
    header{
        font-weight: bolder;
        font-size: larger;
    }
    #project-container{
        display: flex;
        flex-direction: column;
    }
    .projSect:nth-of-type(2n){
        align-self: flex-end;
    }
    #projects{
        margin-top: 10vh;
        position: relative;
        display: block;
        flex-direction: column;
        width: 100%;
        height: 110vh;
        justify-content: center;
        align-items: center;
        
    }
    .hideme{
        margin-top: -6vh;
    }
    #onlyText{
        position: relative;
        color: white;
    }
    .projSect .projName:first{
        color: white;
    }
    .projSect .projName{
        position: relative;
        z-index: 1;
        font-size: 2em;
        color: black;
        font-weight: 700;
    }
    .projSect{
        top: 0;
        left: 0;
        width: 25vw;
        height: 25vh;
        object-fit: cover;
        background-size: cover;
        background-position: center;
    }
    .hideme:nth-of-type(odd){
        margin-left: 35vw;
        width: 45vw;
        color: black;
    }
    #proj2p{
        margin-left: -60vw;
        width: 45vw;
        }
    #hidemetoo{
        display: none;
    }
    .projSect:nth-of-type(odd):hover .projName::after{
        width: 25vw;
    }
    .projSect:nth-of-type(even):hover .projName::after{
        width: 25vw;
        left: 0%;
    }
    #skills{
        display: flex;
        color: #1e7a45;
        margin-top: 15vh;
        align-items: flex-start;
        justify-content: space-evenly;
    }
    #skills ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    #skills div{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .buttonHolder{
        position: absolute;
        width: 50%;
        left: 25%;
        bottom: 0%;
    }
    .projSect:nth-of-type(odd):after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 0%;
        max-width: 100vw;
        transition: width 450ms 450ms;
        background: rgb(110, 103, 39);
        z-index: 0;
        max-width: 100vw;
        transform: translateZ(-1px);
    }
    .projSect:nth-of-type(even):after{
        content: "";
        position: absolute;
        top: 0;
        left: 100%;
        bottom: 0;
        width: 0%;
        max-width: 100vw;
        transition: width 450ms 450ms, left 450ms 450ms;
        background: rgb(57, 87, 10);
        z-index: 0;
        max-width: 100vw;
        transform: translateZ(-1px);
    }
    .projSect:nth-of-type(odd):hover::after{
        width: 100vw;
    }
    .projSect:nth-of-type(even):hover::after{
        width: 100vw;
        left: -100vw;
    }
}