header{
    display: flex;
    justify-content: space-evenly;
    height: 10%;
}
#pages{
    display: flex;
    justify-content: space-evenly;
}
#project-cont {
	display: flex;
	flex-direction: column;
	align-items: center;
    height: 100%;
}
.links{
    margin: auto 1.3vw;
}
#project-cont > div{
    width: 50%;
}
#carousel-cont {
	width: 100vw;
    height: 90vh;
	display: flex;
    flex-direction: row;
}
.carousel-projects {
	width: 100%;
	background: gray;
	padding: 10px;	
}
.carousel-projects div {
	width: 100%;
	border-radius: 10px;
	display: none;
}
.carousel-button {
	background: darkslategray;
	color: white;
	width: 5%;
	text-align: center;
    border: 3px white;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}
.carousel-button:hover {
	cursor: pointer;
	background: #fa8d8e;
	box-shadow: 1px 1px #f2cd99;
	color: white;
}


.carousel-projects div{
    display: none;
}
.carousel-projects div:first-of-type{
    display: block;
    
}