body{
    background-color: black;
}
div{
    text-align: center;
    background-color: navy;
    color: white;
    width: 75vw;
    height: 75vh;
    margin: 12.5vh auto;
}
header{
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    background-color: lightpink;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 100vw;

}
nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: default 3vw;
    padding: 0%;
}
ul li{
    margin: auto 3vw;
    line-height: 15px;
    font-size: smaller;
}
ul li:hover{
    background-color: purple;
}