body{
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div{
    width: 80vw;
}
@media (min-width: 650px){
    body{
        display: block;
        margin: 5vw;
        text-align: left;
    }
    div{
        max-width: 100%;
    }
    #nac{
        width: 28vh;
    }
    section{
        display: flex;
        justify-content: space-between;
    }
    aside{
        width: 26vw;
    }
    #centerPart{
        width: 30vw;
    }
    #seperate{
        width: 60vw;
    }
}
    
